.banner-section {
    background-color: #233ca5;
}
.header-bottom.active {
    background: #233ca5 !important;
}
.header-top-wrapper .cart-button-area li .user-button {
    background: #f37368;
}
.normal-button:hover {
    background: #233ca5;
}

.auction-thumb .bid {
    background: #f37368 !important;
}

.browse-item:hover,
.browse-item.active {
    background: -webkit-linear-gradient(
        88deg,
        #233ca5 4%,
        #3550bf 58%,
        #5e76dc 100%
    );
}

.slider-nav a.active,
.slider-nav a:hover {
    background: #233ca5;
}

.social-icons li a:hover,
.social-icons li a.active {
    background: #f37368;
}

.scrollToTop {
    background: #f37368;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
}

p a:hover {
    color: #f37368;
}

p a {
    color: #f37368;
}

.footer-widget .links-list li a:hover {
    color: #f37368;
}

.custom-button:hover {
    background-color: #132675;
}
.call-wrapper {
    background-color: #233ca5;
}
section.car-auction-section {
    border-bottom: 1px solid #eaeaea;
}

.popular-bg,
.how-video-shape {
    background-color: #14256d;
}

.call-wrapper a.custom-button.white:hover {
    background: #394ea5;
    color: #fbfbfb;
}

.call-wrapper {
    background-color: #14256d;
}

footer {
    background-color: #0a174c;
}

.section-header-3 .normal-button {
    margin-top: 0px;
}
.custom-button.yellow {
    background: -webkit-linear-gradient(92deg, #b1463d 0%, #f37368 100%);
}
@media (min-width: 1200px) {
    .section-header-3 {
        margin-bottom: 45px;
    }
}
.auction-item-2 .auction-content .bid-area .bid-amount,
.auction-item-3 .auction-content .bid-amount {
    border-bottom: 2px solid #ededf7;
    border-top: 2px solid #ededf7;
    width: 100%;
}
.auction-item-2 .auction-content .bid-area .bid-amount::before {
    display: none;
}
.auction-item-2 .auction-content .bid-area .bid-amount .icon {
    max-width: 36px;
}
.auction-item-2 .auction-content .bid-area .bid-amount .amount-content .amount {
    font-weight: 600;
}
.auction-item-2 .auction-content .countdown-area .total-bids,
.auction-item-3 .auction-content .bids-area .total-bids {
    text-shadow: none;
    color: #f16d67;
}

.auction-item-2 .auction-content .bid-area .bid-amount .amount-content .current,
.auction-item-3 .auction-content .bid-amount .amount-content .current {
    color: #345862;
}

.auction-item-2 .auction-content .countdown-area .countdown {
    text-shadow: none;
}
.auction-item-3 .auction-content .bid-amount img.icon {
    max-height: 37px;
}
.is-invalid .invalid-feedback {
    display: block;
}
.login-form .form-group label {
    top: 25px;
}
.login-form .form-group .pass-type {
    top: 25px;
}
.bidding-amount-wrap input {
    margin: 0;
    background-color: #fff !important;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
}

.bidding-amount-wrap .btn {
    margin: 0;
    background-color: #233ca5;
    color: #fff;
    border-radius: 25px;
    font-size: 22px;
}

.input-group.bidding-amount-wrap {
    max-width: 350px;
}
.profile-nav li a {
    padding: 10px 20px;
    color: #37406f;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: block;
}
.profile-nav li a i {
    margin-right: 10px;
    color: #ee4730;
}

.profile-nav li a:hover,
.profile-nav li a.active {
    background: #f7f6fc;
}
.dropdown-menu {
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 9px 20px 0px rgb(22 26 57 / 36%);
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #e6e9fb;
}

.dropdown-menu a.dropdown-item:first-child {
    border-radius: 10px 10px 0 0;
}

a.dropdown-item {
    font-size: 15px;
    font-weight: 500;
    color: #545454;
    font-family: "Roboto", sans-serif;
    padding: 0.35rem 0.8rem;
}

.dropdown-menu a.dropdown-item:last-child,
.dropdown-menu a.dropdown-item:last-child:hover {
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #f37368;
}
.dropdown.profile .dropdown-menu {
    min-width: 7rem !important;
}
.form-group.select .form-control {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    color: #52606d;
    height: 50px;
    border: 1px solid rgba(97, 90, 191, 0.2);
    background: #ffffff;
    padding: 0 75px;
}
.login-form .custom-box input {
    height: 50px;
    border: 1px solid rgba(97, 90, 191, 0.2);
    background: #ffffff;
    padding: 0 15px;
}
.login-form .custom-box-files input {
    height: 50px;
    border: 1px solid rgba(97, 90, 191, 0.2);
    background: #ffffff;
    padding: 10px 15px;
}
.auction-item-2 .auction-thumb img {
    max-height: 300px;
}
.section-header-3 .left .thumb {
    width: 60px;
}
.section-header-3 .left .title-area .title {
    margin-bottom: 0px;
    margin-top: 10px;
}
.auction-item-3 .auction-thumb img {
    max-height: 185px;
}
.bids-area span.winner {
    color: #539c74;
}
.widget .widget-form-group a {
    color: #5f5f5f;
}
.widget .widget-form-group.active a {
    color: #e4735f;
}
.product-search {
    max-width: 100% !important;
    width: 100% !important;
}
.bidding-table tbody tr:first-child td {
    background-color: #fff5dd;
}
.auction-item-2 .auction-thumb .approved {
    width: 100px;
    height: 35px;
    color: #ffffff;
    line-height: 35px;
    font-size: 15px;
    position: absolute;
    border-radius: 36px;
    top: 5px;
    right: 5px;
    text-align: center;
    background: #006f15;
}
.auction-item-2 .auction-thumb .pending {
    width: 100px;
    height: 35px;
    color: #ffffff;
    line-height: 35px;
    font-size: 15px;
    position: absolute;
    border-radius: 36px;
    top: 5px;
    right: 5px;
    text-align: center;
    background: #353535;
}
.slide-top-item .slide-inner img {
    max-height: 500px;
    width: auto;
    margin: auto;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.form-control:focus {
    box-shadow: none;
}
.widget .custom-button {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}

.widget .ui-slider-range {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}

.widget .ui-state-default::after {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}

.widget .ui-state-default::after {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}

.pagination li a.active,
.pagination li a:hover {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}
.det-nav:hover, .det-nav.active {
    background: -webkit-linear-gradient(166deg, #233ca5 0%, #728dfd 100%);
}
.product-tab-menu img {
    max-width: 50px;
}

.swal2-styled.swal2-confirm {
    max-width: 120px !important;
}